.container{
    position: relative;
    left: 40px;
    top: -2px;
    width: 300%;
    height: 200%;
    color: gray;

}

.container-fluid{
    color: white ;
}

.letras{
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size:25px ;
}

.letras-r{
    color: #3F69C8;
    font-weight: bold;
    margin-bottom: 0;
    font-size:35px ;
}

.img-fluid{
    position: relative;
    left: 40px;
    top: -2px;
    width: 300%;
    height: 200%;
    color: gray;
}
.form-label{
    color: #3F69C8;
    font-weight: bold;
}
.bs-card-bg{
    color:#D9D9D9;
}
.custom-nav {
    background-color: #D9D9D9;
  }




