.container{
    position: relative;
    left: 40px;
    top: -2px;
    width: 300%;
    height: 200%;
    color: gray;

}

.container-fluid{
    color: white ;
}

.letras{
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size:25px ;
}

.letras-r{
    color: #3F69C8;
    font-weight: bold;
    margin-bottom: 0;
    font-size:35px ;
}

.img-fluid{
    position: relative;
    left: 40px;
    top: -2px;
    width: 300%;
    height: 200%;
    color: gray;
}
.form-label{
    color: #3F69C8;
    font-weight: bold;
}
.bs-card-bg{
    color:#D9D9D9;
}
.custom-nav {
    background-color: #D9D9D9;
  }

  .producto {
    width: 100%;
    height: auto;
  }
  /* Usuario.css */

.usuario {
    margin-top: 20px;
  }
  
  .catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .producto {
    text-align: center;
  }
  
  .producto img {
    width: 50%;
    height: auto;
  }
  
  .producto h3 {
    margin-top: 10px;
  }
  
  .producto p {
    margin-bottom: 10px;
  }
  
  .producto button {
    background-color: #3f69c8;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


